<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="dbtech-ecommerce" controller="DBTech\eCommerce:Index" context="dbtechEcommerce"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="addresses" format="addresses/:int&lt;address_id,title&gt;/" controller="DBTech\eCommerce:Address" context="dbtechEcomAddress"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="categories" format="categories/:int&lt;category_id,title&gt;/" controller="DBTech\eCommerce:Category" context="dbtechEcomCategory"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="commissions" format="commissions/:int&lt;commission_id,name&gt;/" controller="DBTech\eCommerce:Commission" context="dbtechEcomCommissions"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="coupons" format="coupons/:int&lt;coupon_id,title&gt;/" controller="DBTech\eCommerce:Coupon" context="dbtechEcomCoupons"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="discounts" format="discounts/:int&lt;discount_id,title&gt;/" controller="DBTech\eCommerce:Discount" context="dbtechEcomDiscounts"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="distributors" format="distributors/:int&lt;user_id&gt;/" controller="DBTech\eCommerce:Distributor" context="dbtechEcomDistributors"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="downloads" format="downloads/:int&lt;download_id,title&gt;/" controller="DBTech\eCommerce:Download" context="dbtechEcomDownloads"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="income-stats" format="income-stats/" controller="DBTech\eCommerce:IncomeStats" context="dbtechEcomStats"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="invoice-icon" format="invoice-icon/" controller="DBTech\eCommerce:InvoiceIcon" context="dbtechEcomInvoiceLogo"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="licenses" format="licenses/:int&lt;license_id,title&gt;/" controller="DBTech\eCommerce:License" context="dbtechEcomLicenses"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="licenses/fields" format="licenses/fields/:str&lt;field_id&gt;/" controller="DBTech\eCommerce:LicenseField" context="dbtechEcomLicenseFields"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="logs" format="logs/" controller="DBTech\eCommerce:Log" context="dbtechEcomLogs"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="logs/commission-payments" format="logs/commission-payments/:int&lt;commission_payment_id&gt;/" controller="DBTech\eCommerce:Log" context="dbtechEcomCommissionLog" action_prefix="CommissionPayment"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="logs/coupons" format="logs/coupons/:int&lt;coupon_log_id,title&gt;/" controller="DBTech\eCommerce:Log" context="dbtechEcomCouponLog" action_prefix="coupon"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="logs/distributors" format="logs/distributors/:int&lt;distributor_id&gt;/" controller="DBTech\eCommerce:Log" context="dbtechEcomDistributorLog" action_prefix="distributor"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="logs/downloads" format="logs/downloads/:int&lt;download_log_id&gt;/" controller="DBTech\eCommerce:Log" context="dbtechEcomDownloadLog" action_prefix="download"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="logs/orders" format="logs/orders/:int&lt;order_id&gt;/" controller="DBTech\eCommerce:Log" context="dbtechEcomOrderLog" action_prefix="order"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="logs/purchases" format="logs/purchases/:int&lt;purchase_log_id&gt;/" controller="DBTech\eCommerce:Log" context="dbtechEcomPurchaseLog" action_prefix="purchase"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="logs/store-credit" format="logs/store-credit/:int&lt;store_credit_log_id&gt;/" controller="DBTech\eCommerce:Log" context="dbtechEcomStoreCreditLog" action_prefix="StoreCredit"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="logs/store-credit/add" format="logs/store-credit/add/" controller="DBTech\eCommerce:Log" context="dbtechEcomStoreCreditLog" action_prefix="StoreCreditAdd"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="orders" format="orders/:int&lt;order_id&gt;/" controller="DBTech\eCommerce:Order" context="dbtechEcomOrderLog"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="prefixes" format="prefixes/:int&lt;prefix_id,title&gt;/" controller="DBTech\eCommerce:ProductPrefix" context="dbtechEcomProductPrefix"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="prefixes/group" format="prefixes/group/:int&lt;prefix_group_id,title&gt;/" controller="DBTech\eCommerce:ProductPrefix" context="dbtechEcomProductPrefix" action_prefix="Group"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="products" format="products/:int&lt;product_id,title&gt;/" controller="DBTech\eCommerce:Product" context="dbtechEcomProducts"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="products/fields" format="products/fields/:str&lt;field_id&gt;/" controller="DBTech\eCommerce:ProductField" context="dbtechEcomProductFields"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="products/order-fields" format="products/order-fields/:str&lt;field_id&gt;/" controller="DBTech\eCommerce:OrderField" context="dbtechEcomOrderFields"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="products/screenshots" format="products/screenshots/:int&lt;product_id,title&gt;/" controller="DBTech\eCommerce:Product" context="dbtechEcomProducts" action_prefix="screenshot"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="review-fields" format="review-fields/:str&lt;field_id&gt;/" controller="DBTech\eCommerce:ProductReviewField" context="dbtechEcomReviewFields"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="sales" format="sales/:int&lt;sale_id,title&gt;/" controller="DBTech\eCommerce:Sale" context="dbtechEcomSales"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="sales-tax" format="sales-tax/:str&lt;country_code&gt;/" controller="DBTech\eCommerce:SalesTax" context="dbtechEcomSalesTax"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="shipping-methods" format="shipping-methods/:int&lt;shipping_method_id,title&gt;/" controller="DBTech\eCommerce:ShippingMethod" context="dbtechEcomShippingMethods"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="shipping-zones" format="shipping-zones/:int&lt;shipping_zone_id,title&gt;/" controller="DBTech\eCommerce:ShippingZone" context="dbtechEcomShippingZones"/>
  <route route_type="admin" route_prefix="dbtech-ecommerce" sub_name="store-credit" format="store-credit/" controller="DBTech\eCommerce:StoreCredit" context="dbtechEcomStoreCreditLog"/>
  <route route_type="admin" route_prefix="permissions" sub_name="dbtech-ecommerce-categories" format="dbtech-ecommerce-categories/:int&lt;category_id,title&gt;/" controller="DBTech\eCommerce:Permission" context="dbtEcCategoryPermissions" action_prefix="category"/>
  <route route_type="admin" route_prefix="permissions" sub_name="dbtech-ecommerce-coupons" format="dbtech-ecommerce-coupons/:int&lt;coupon_id,title&gt;/" controller="DBTech\eCommerce:Permission" context="dbtEcCouponPermissions" action_prefix="coupon"/>
  <route route_type="admin" route_prefix="permissions" sub_name="dbtech-ecommerce-products" format="dbtech-ecommerce-products/:int&lt;product_id,title&gt;/" controller="DBTech\eCommerce:Permission" context="dbtEcProductPermissions" action_prefix="product"/>
  <route route_type="api" route_prefix="dbtech-ecommerce" controller="DBTech\eCommerce:Products"/>
  <route route_type="api" route_prefix="dbtech-ecommerce" sub_name="-" format=":+int&lt;product_id&gt;/" controller="DBTech\eCommerce:Product"/>
  <route route_type="api" route_prefix="dbtech-ecommerce" sub_name="categories/" format="categories/" controller="DBTech\eCommerce:Categories"/>
  <route route_type="api" route_prefix="dbtech-ecommerce" sub_name="categories/-" format="categories/:+int&lt;category_id&gt;/" controller="DBTech\eCommerce:Category"/>
  <route route_type="api" route_prefix="dbtech-ecommerce" sub_name="downloads/" format="downloads/" controller="DBTech\eCommerce:Downloads"/>
  <route route_type="api" route_prefix="dbtech-ecommerce" sub_name="downloads/-" format="downloads/:+int&lt;download_id&gt;/" controller="DBTech\eCommerce:Download"/>
  <route route_type="api" route_prefix="dbtech-ecommerce" sub_name="licenses/" format="licenses/" controller="DBTech\eCommerce:Licenses"/>
  <route route_type="api" route_prefix="dbtech-ecommerce" sub_name="licenses/-" format="licenses/:+str&lt;license_key&gt;/" controller="DBTech\eCommerce:License"/>
  <route route_type="api" route_prefix="dbtech-ecommerce" sub_name="reviews/" format="reviews/" controller="DBTech\eCommerce:ProductReviews"/>
  <route route_type="api" route_prefix="dbtech-ecommerce" sub_name="reviews/-" format="reviews/:+int&lt;product_rating_id&gt;/" controller="DBTech\eCommerce:ProductReview"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" format=":int&lt;product_id,title&gt;/" controller="DBTech\eCommerce:Product" context="dbtechEcommerce"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="account" format="account" controller="DBTech\eCommerce:Account" context="dbtechEcommerce"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="account/address-book/add" format="account/address-book/add" controller="DBTech\eCommerce:Account" context="dbtechEcommerce" action_prefix="AddressAdd"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="account/address-book/delete" format="account/address-book/delete/:int&lt;address_id,title&gt;/" controller="DBTech\eCommerce:Account" context="dbtechEcommerce" action_prefix="AddressDelete"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="account/address-book/edit" format="account/address-book/edit/:int&lt;address_id,title&gt;/" controller="DBTech\eCommerce:Account" context="dbtechEcommerce" action_prefix="AddressEdit"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="account/address-book/save" format="account/address-book/save/:int&lt;address_id,title&gt;/" controller="DBTech\eCommerce:Account" context="dbtechEcommerce" action_prefix="AddressSave"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="account/address-book/view" format="account/address-book/view/:int&lt;address_id,title&gt;/" controller="DBTech\eCommerce:Account" context="dbtechEcommerce" action_prefix="AddressView"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="account/order" format="account/order/:int&lt;order_id&gt;/" controller="DBTech\eCommerce:Account" context="dbtechEcommerce" action_prefix="order"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="account/order/edit" format="account/order/:int&lt;order_id&gt;/edit/" controller="DBTech\eCommerce:Account" context="dbtechEcommerce" action_prefix="OrderEdit"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="account/order/invoice" format="account/order/:int&lt;order_id&gt;/invoice/" controller="DBTech\eCommerce:Account" context="dbtechEcommerce" action_prefix="invoice"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="authors" format="authors/:int&lt;user_id,username&gt;/" controller="DBTech\eCommerce:Author" context="dbtechEcommerce"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="categories" format="categories/:int&lt;category_id,title&gt;/" controller="DBTech\eCommerce:Category" context="dbtechEcommerce"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="checkout" format="checkout" controller="DBTech\eCommerce:Checkout" context="dbtechEcommerce"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="checkout/cancel" format="checkout/cancel/:int&lt;order_id&gt;/" controller="DBTech\eCommerce:Checkout" context="dbtechEcommerce" action_prefix="cancel"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="checkout/remove-item" format="checkout/remove-item/:int&lt;order_item_id&gt;/" controller="DBTech\eCommerce:Checkout" context="dbtechEcommerce" action_prefix="RemoveItem"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="checkout/retry" format="checkout/retry/:int&lt;order_id&gt;/" controller="DBTech\eCommerce:Checkout" context="dbtechEcommerce" action_prefix="retry"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="checkout/shipping-method" format="checkout/shipping-method/:int&lt;order_item_id&gt;/" controller="DBTech\eCommerce:Checkout" context="dbtechEcommerce" action_prefix="ShippingMethod"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="checkout/update" format="checkout/update/:int&lt;order_id&gt;/" controller="DBTech\eCommerce:Checkout" context="dbtechEcommerce" action_prefix="update"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="checkout/update-duration" format="checkout/update-duration/:int&lt;order_item_id&gt;/" controller="DBTech\eCommerce:Checkout" context="dbtechEcommerce" action_prefix="UpdateDuration"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="download-version" format="download-version/:str&lt;version_id&gt;/:str&lt;license_key&gt;/" controller="DBTech\eCommerce:Download" context="dbtechEcommerce" action_prefix="Download"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="licenses" format="licenses/:int&lt;user_id,username&gt;/" controller="DBTech\eCommerce:Licenses" context="dbtechEcommerce"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="licenses/info" format="licenses/info/:str&lt;license_key&gt;/" controller="DBTech\eCommerce:Licenses" context="dbtechEcommerce" action_prefix="info"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="licenses/license" format="licenses/license/:str&lt;license_key&gt;/" controller="DBTech\eCommerce:Licenses" context="dbtechEcommerce" action_prefix="view"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="licenses/serial-key" format="licenses/serial-key/:str&lt;license_key&gt;/" controller="DBTech\eCommerce:Licenses" context="dbtechEcommerce" action_prefix="SerialKey"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="logs/downloads" format="logs/downloads/:int&lt;download_log_id&gt;/" controller="DBTech\eCommerce:Log" context="dbtechEcommerce" action_prefix="download"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="product-licenses" format=":int&lt;product_id,title&gt;/product-licenses/" controller="DBTech\eCommerce:Product" context="dbtechEcommerce" action_prefix="licenses"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="release" format=":+int&lt;product_id,product_title&gt;/release/:+int&lt;download_id&gt;/" controller="DBTech\eCommerce:Download" context="dbtechEcommerce"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="release/add" format=":+int&lt;product_id,title&gt;/release/add" controller="DBTech\eCommerce:Download" context="dbtechEcommerce" action_prefix="add"/>
  <route route_type="public" route_prefix="dbtech-ecommerce" sub_name="review" format=":+int&lt;product_id,product_title&gt;/review/:+int&lt;product_rating_id&gt;/" controller="DBTech\eCommerce:Review" context="dbtechEcommerce"/>
  <route route_type="public" route_prefix="whats-new" sub_name="ecommerce-downloads" format="ecommerce-downloads/:int&lt;find_new_id&gt;/:page" controller="DBTech\eCommerce:WhatsNewDownload" context="dbtechEcommerce"/>
  <route route_type="public" route_prefix="whats-new" sub_name="ecommerce-products" format="ecommerce-products/:int&lt;find_new_id&gt;/:page" controller="DBTech\eCommerce:WhatsNewProduct" context="dbtechEcommerce"/>
</routes>